body{
    background-color: black;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header_div{
    background: white;
    color: blue;
}
.header_div p{ 
    font-family: 'Roboto', sans-serif; 
    color: gray; 
    letter-spacing: 2px; 
    font-size: 12px;
     font-weight: bold; }

.copy_right_footer{
    position: fixed;
    width: 100%;
    line-height: 3;
    font-size: 20px;
    text-align: center;
    bottom: 0;
    
}
.main_div button{ font-family: 'Roboto', sans-serif;
     margin-top: 30px; 
     width: 130px;
      font-weight: bolder;
       letter-spacing: 3px; 
    }